
.oxygen-logo-profile-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgrey 1px solid;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.logo-name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.fa-brands {
    color: #FF385C;
}

.oxygenbnb-title {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #FF385C;
}

.user-profile-nav {
    display: flex;
    gap: 10px
}
