.review-main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    border: lightgray 1px solid;
    border-radius: 5px;
    width: 420px;
    height: 169px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 9px;
}

a {
    text-decoration: none;
    color: black;
}

.review-header {
    display: flex;
    flex-direction: row;
    height: 75px;
}

.review-user-info {
    display: flex;
    justify-content: row;
    column-gap: 10px;
    align-items: center;
}

.review-inner-container {
    height: 50%;
    margin-bottom: 15px;
    overflow-y: scroll;
    /* overflow-y: hidden; */
}

.review-text {
    height: 50%;
    /* overflow-y: scroll; */
    /* overflow-y: hidden; */

}

.reviewDelete {
    cursor: pointer;
}

.review-delete-button {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #FF385C;
    font-size: 16px;
    border: none;
}
