.signup-interactive {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signup-interactive:hover {
    background-color: #EBEBEB;
    border-radius: 16px;
}

.signup-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
