.host-interactive {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.host-interactive:hover {
    background-color: #EBEBEB;
    border-radius: 16px;
}

.create-modal-display {
    display: flex;
    justify-content: center;
    width: 600px;
}

.spot-create-form {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-bottom: 15px;
}

.spot-form-header {
    padding-top: 15px;
    font-size: x-large;
}

.continue-modal-button {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #FF385C;
}

.modal-input-field {
    border: lightgray 1px solid;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
}

/* .create-error-display {
    display: flex;
    flex-direction: column;
    color: #FF385C;
} */
