.edit-button {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #FF385C;
}

.edit-modal-display {
    display: flex;
    justify-content: center;
    width: 600px;
}

.edit-modal-form {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-bottom: 15px;
}

.edit-form-header {
    padding-top: 15px;
    font-size: x-large;
}

.edit-cont-button {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #FF385C;
    font-size: 16px;
    border: none;
}
