.your-listings-display {
    display: flex;
    justify-content: center;
}

.your-property-title-text {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: bold;
}
