.big-ol-centered-div {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-top: 25px;
}


.title-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 50%; */
}

.spot-detail-main {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1000px; */
}

.spot-detail-title-widget {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.spot-name-text {
    font-size: x-large;
    font-weight: 400;
}

.spot-detail-bar {
    display: flex;
    justify-content: flex-start;
    font-size: smaller;
    gap: 10px;
}

.edit-delete-container {
    display: flex;
    gap: 10px;
}

.delete-button {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #FF385C;
}

.image-display-container {
    vertical-align: bottom;
    height: 550px;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.display-image {
    object-fit: cover;
    vertical-align: bottom;
    height: 100% !important;
    width: 100% !important;
    border-radius: 16px;
}


.spots-reviews-container {
    display: flex;
    justify-content: center;
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    height: 500px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overflow-reviews {
    overflow-y: scroll;
    overflow-y: hidden;
}

.description-price-widget {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 15px;
    margin-bottom: 15px;
}

.description-spot-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    width: 550px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: lightgrey 1px solid; */
    border-radius: 5px;
}

.price-and-reviews {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border: lightgray 1px solid;
    border-radius: 5px;
    height: 75px;
    width: 300px;
}
.spot-detail-price {
    display: flex;
    align-items: center;
}

.spot-review-stars {
    display: flex;
    align-items: center;
}

.leave-review-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
